{%include 'base.html'%}

<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
 <title>Add Task</title>
</head>
<body>

    <div class="addtask">
        <h1>Add a New Task</h1>
        <br>
        <h3>Enter task details below: </h3>
        <form method="POST" >
            {% csrf_token %}

            <label for="name">Task Title:</label><br>
            <input type="text" id="name" name="name">
            <br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea>
            <br><br>
            <label for="duedate">Due Date:</label><br>
            <input type="date" id="duedate" name="duedate"><br>
            <br>
            <input type="submit" value="ADD TASK">
        </form>
    </div>

</body>
</html>