{%include 'base.html'%}

<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <title>Home</title>
</head>
<body>


    <div class="content">
        <h1>Welcone back {{user}}</h1>
        <br>
        <H2>Welcome To DANAB Task Manger  </H2>
         <p>Design is not just what it looks like and feels like. Design is how it works. - Steve Jobs</p>

    </div>

</body>
</html>